# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @infinite-loop-factory/app-factory

# apps
/apps/cafe @ckrbqja
/apps/country-tracker @gracefullight
/apps/delivery @ckrbqja
/apps/dog-walk @Lim-Ji-Hyeon
/apps/question-card @JAM-PARK
/apps/reaction-speed-test @JAM-PARK

# packages

# scripts

# turbo
/turbo/generator/config.ts @gracefullight @ckrbqja

# settings
/.husky @gracefullight
/.vscode @gracefullight
