# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @infinite-loop-factory/app-factory

# apps
/apps/country-tracker @gracefullight
/apps/dog-walk @Lim-Ji-Hyeon

# packages

# scripts

# turbo
/turbo/generator/config.ts @gracefullight

# settings
/.husky @gracefullight
/.vscode @gracefullight
