@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-size: 16px;
    transition-property:
      color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 800ms;
  }

  body {
    font-size: 16px;
    line-height: 1.5;
    @apply text-typography-0;
    @apply bg-background-0;
  }
}
